body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f2f5;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 20%;
  height: 60vh;
  margin: 90px auto; /* 상하 마진 조정 */
}

.login-logo {
  margin-bottom: 30px; /* 로고와 컨테이너 사이의 여백 추가 */
}

@media (max-width: 768px) {
  .login-container {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

.login-container .login-form {
  max-width: 100%;
  margin: 0 auto;
}

.login-container .login-form-item {
  margin-bottom: 12px; /* 아이템 간 간격을 줄여 전체 공간 효율성 증가 */
}

.login-container .login-input,
.login-container .login-password-input {
  height: 30px;
  border-radius: 4px;
}

.login-container .login-submit-button {
  height: 34px; /* 버튼 높이를 줄임 */
  font-size: 14px; /* 텍스트 크기 조정 */
  line-height: 1.5; /* 텍스트 정렬 개선 */
  padding: 0 12px; /* 버튼 내부 여백 조정 */
  border-radius: 4px; /* 둥근 모서리 유지 */
}

.login-container .login-signup-button {
  height: 34px; /* 버튼 높이를 줄임 */
  font-size: 14px; /* 텍스트 크기 조정 */
  line-height: 1.5; /* 텍스트 정렬 개선 */
  padding: 0 12px; /* 버튼 내부 여백 조정 */
  border-radius: 4px; /* 둥근 모서리 유지 */
}



.kakao-login-image {
  display: block;
  width: 100%; /* 너비를 부모 요소에 맞춤 */
  height: auto; /* 이미지의 원본 비율 유지 */
  border-radius: 4px; /* 다른 버튼과 동일한 둥근 모서리 */
  margin: 0 auto; /* 중앙 정렬 */
  cursor: pointer; /* 클릭 가능한 버튼처럼 보이게 설정 */
  background-color: transparent; /* 배경색 제거 */
}
