body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f0f2f5;
}

.login-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 20%;
  height: 60vh;
  margin: 90px auto; /* 상하 마진 조정 */
}

.login-logo {
  margin-bottom: 30px; /* 로고와 컨테이너 사이의 여백 추가 */
}

@media (max-width: 768px) {
  .login-container {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

.login-container .login-form {
  max-width: 100%;
  margin: 0 auto;
}

.login-container .login-form-item {
  margin-bottom: 16px;
}

.login-container .login-input,
.login-container .login-password-input {
  height: 30px;
  border-radius: 4px;
}

.login-container .login-submit-button {
  height: 40px;
  font-size: 16px;
}