<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--모바일 장치에서 웹페이지가 올바르게 표시되게 함-->
    <title>Hello! POKO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!-- 네비게이션 바 -->
{% include 'common/navigation_bar.html' %}

<div class="container my-3">
    <form method="POST" action="{% url 'account:ApiSignup' %}">
        {% csrf_token %}
{#        {% include "form_errors.html" %}#}
            {{ form.as_p}}
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>

<!-- 부트스트랩 및 팝퍼, 제이쿼리 CDN 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtuRU5mgxhX46XBgVZcDIvT8xUn1AKqN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-eMN3A/EqCO9MDiMbyt9JLMBRVo/bap1P0M8zS1oA2bQKmN8ib80zNEcVTtKc6I8" crossorigin="anonymous"></script>

</body>
</html>