.app-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #fff;
  box-shadow: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 35px;
}

/* 메뉴와 User 아이콘을 정렬할 컨테이너 */
.menu-container {
  flex: 1;
  display: flex;
  justify-content: space-between; /* 메뉴와 유저 아이콘 사이에 공간 배치 */
  align-items: center;
}

.menu {
  flex: 1; /* 메뉴는 가능한 너비를 차지 */
}

.menu .ant-menu-item {
  display: flex;
  align-items: center;
}

.user-icon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px; /* 유저 아이콘과 메뉴 사이 여백 */
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .app-header {
    padding: 0 10px; /* 패딩 축소 */
  }

  .logo img {
    height: 30px; /* 로고 크기 축소 */
  }

  .menu-container {
    justify-content: space-between; /* 메뉴와 유저 아이콘 정렬 유지 */
  }

  .menu {
    margin-left: 10px; /* 메뉴와 로고 간격 축소 */
  }

  .menu .ant-menu-item {
    font-size: 14px; /* 메뉴 아이템 폰트 크기 축소 */
  }

  .user-icon {
    font-size: 18px; /* 유저 아이콘 크기 축소 */
  }
}