/* 페이지 전체 레이아웃 */
.admin-teacher-container {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 컨텐츠 정렬 (너비 조정) */
.admin-teacher-content {
  padding: 24px;
  max-width: 1228px;
  width: 100%; 
  margin: 0 auto;
}

/* 페이지 제목 정렬 및 여백 추가 */
.admin-teacher-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px; 
  color: #212529;
  text-align: left; 
  padding-left: 50px; 
}

.go-home-button-wrapper {
  display: flex;
  justify-content: flex-end; 
  max-width: 1228px; 
  width: 100%;
  margin: 0 auto 16px auto; 
  padding-right: 16px; 
}